---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile 📜</div>
  </div>

  <div class="mb-10 text-justify">
    <strong>Cybersecurity Specialist | Web Developer | IaC Enthusiast</strong>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Elevator Pitch</div>
  </div>

  <div class="mb-5">
    <iframe
      width="360"
      height="640"
      src="Pitch_ivan_voice3.mp4"
      title="Video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen></iframe>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Cloud Mastery Bootcamp"
      subtitle="Feb 2024 to Oct 2024 at Digital Cloud Training, online, USA."
    />

    <TimeLineElement
      title="Fullstack Academy Cyber Bootcamp"
      subtitle="Jan 2024 to Jul 2024 at Full Stack Academy, online, USA."
    />
    <TimeLineElement
      title="Full Stack Engineering"
      subtitle="Feb 2023 to Oct 2023 at Flatiron School, online, USA."
    />
    <TimeLineElement
      title="Geological Engineering degree"
      subtitle="1999 to 2004 at Central University of Venezuela, Caracas, Venezuela"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Sortation Associate at Amazon. C.A."
      subtitle="From Nov 2020 to Present at Amazon, Orlando, USA"
    >
      <p>
        Safety Protocols: Established safety protocols, reducing workplace
        accidents and ensuring a safer work environment.
      </p>
      <p>
        Efficiency: Scanned, inspected, and sorted over 2000 packages daily,
        maintaining over 90% accuracy to ensure timely deliveries.
      </p>
      <p>
        Process Improvement: Identified performance shortcomings, resulting in a
        10% increase in production in the packing-flow department.
      </p>
    </TimeLineElement>

    <TimeLineElement
      title="General Laborer"
      subtitle="From Dec 2019 to Nov 2020, Self-employed, Orlando, USA"
    >
      <p>
        Customer Satisfaction: Delivered high-quality landscaping services to
        20+ clients, resulting in a 100% client satisfaction rate.
      </p>
      <p>
        Time Management: Efficiently completed landscaping projects ahead of
        schedule, reducing project timelines by 15%.
      </p>
      <p>
        Maintenance and Operations: Maintained tools and equipment to ensure a
        high standard of service, increasing job efficiency.
      </p>
    </TimeLineElement>
    <TimeLineElement
      title="Sedimentologists & Stratigrapher at PDVSA"
      subtitle="From Jan 2005 to Dec 2019 at PDVSA, Lecheria, Venezuela"
    >
      <p>
        Geostatistical Modeling: Conducted geostatistical modeling and GIS-based
        thematic mapping, improving project accuracy.
      </p>
      <p>
        Hydrocarbon Prediction: Analyzed sedimentary rocks, improving model
        predictions of hydrocarbon reservoirs by 30%.
      </p>
      <p>
        Cross-functional Collaboration: Worked closely with geophysicists and
        engineers to develop accurate geological models, speeding up project
        completion by 10%.
      </p>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Courses</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <strong>IaC with Terraform</strong> - Focused on Infrastructure as Code, automation,
      and scaling AWS resources using Terraform
    </li>
    <li>
      <strong>Python and DevOps</strong> - Covered DevOps methodologies and automation
      using Python in AWS environments
    </li>
    <li>
      <strong>AWS Solutions Architecture</strong> - Designed around core AWS services
      and architectural best practices for AWS
    </li>
    <li>
      <strong>Cloud Foundations and Linux</strong> - Provided a solid understanding
      of cloud concepts, Linux commands, and AWS
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Languages</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>Spanish - Native</li>
    <li>English - Professional working proficiency</li>
    <li>French - Elementary proficiency</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <div class="mb-5">
    <ul class="list-disc md:columns-5 columns-2 mx-6">
      <li>React</li>
      <li>React Router</li>
      <li>Bootstrap</li>
      <li>Metasploit</li>
      <li>Penetration Testing</li>
      <li>Burp Suite</li>
      <li>JavaScript</li>
      <li>Wireshark</li>
      <li>AWS CDK</li>
      <li>Python</li>
      <li>SQL</li>
      <li>Flask</li>
      <li>AWS Boto3</li>
      <li>Kali Linux</li>
      <li>Dash-Plotly</li>
    </ul>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Resume (PDF)</div>
  </div>

  <div class="mt-5">
    <a
      href="https://hcoco1-website-bucket-12345.s3.amazonaws.com/Ivan_Arias_Resume.pdf"
      download
      class="btn btn-primary btn-sm mx-2">Download</a
    >
  </div>
</BaseLayout>
