---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile 📜</div>
  </div>

  <div class="mb-10 text-justify">
    Ivan Arias is proficient with Python, Flask, and JavaScript-based
    programming. He has a Geological modeling and Geographic Information System
    (GIS) background and strong interpersonal and team-building skills. He seeks
    to join an innovative, collaborative team that creates and executes
    cutting-edge software solutions that enhance business productivity.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Cloud Engineer"
      subtitle="Feb 2024 to Sep 2024 at Digital Cloud Training, online, USA."
    />

    <TimeLineElement
      title="Cybersecurity Engineer"
      subtitle="Jan 2024 to Jul 2024 at Full Stack Academy, online, USA."
    />
    <TimeLineElement
      title="Full Stack Engineering"
      subtitle="Feb 2023 to Oct 2023 at Flatiron School, online, USA."
    />
    <TimeLineElement
      title="Geological Engineering degree"
      subtitle="1999 to 2004 at Central University of Venezuela, Caracas, Venezuela"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Sortation Associate at Amazon. C.A."
      subtitle="From Nov 2020 to Present at Amazon, Orlando, USA"
    >
      Identified inefficiencies in the water spider operation and implemented
      solutions that drove an increase in the production of the packing flow
      department. Physical organization skills to manage the workspace for
      improved productivity. Ability to prioritize tasks according to the
      timeline. Scanning, inspecting, and sorting merchandise and packages to
      reach their intended locations.
    </TimeLineElement>
    <TimeLineElement
      title="General Laborer"
      subtitle="From Dec 2019 to Nov 2020, Self-employed, Orlando, USA"
    >
      Perform general landscaping duties, maintaining the cleanliness and
      appearance of the workplace and providing quality service in a timely and
      friendly manner.
    </TimeLineElement>
    <TimeLineElement
      title="Sedimentologists & Stratigrapher at PDVSA"
      subtitle="From Jan 2005 to Dec 2019 at PDVSA, Lecheria, Venezuela"
    >
      Oil and Gas Projects with strict adherence to deadlines, Geostatistical
      Modeling, GIS-based Thematic Mapping, and identification of clay minerals
      by x-ray diffraction analysis.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>AWS Certified Cloud Practitioner (in progress)</li>
    <li>AWS Certified Solutions Architect - Associate (in progress)</li>
    <li>Intensive English Program (IEP) - Valencia College</li>
    <li>High School equivalency Diploma - GED</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Languages</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>Spanish - Native</li>
    <li>English - Professional working proficiency</li>
    <li>French - Elementary proficiency</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>React</li>
    <li>React Router</li>
    <li>Bootstrap</li>
    <li>Sass</li>
    <li>Figma</li>
    <li>GitHub</li>
    <li>JavaScript</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>Python</li>
    <li>SQL</li>
    <li>Flask</li>
    <li>Redux</li>
    <li>Axios</li>
    <li>Bash</li>
  </ul>

  <!-- Add this button where you want it in your Astro component -->
  <div class="mt-5">
    <a
      href="https://hcoco1-website-bucket-12345.s3.amazonaws.com/IvanArias.pdf"
      download
      class="btn btn-primary btn-sm mx-2">Download CV</a
    >
  </div>

  <!-- Add the YouTube video link here -->
</BaseLayout>
