---
import { Icon } from "astro-icon";
import BaseLayout from "@layouts/BaseLayout.astro";
import Contactform from "@components/contactform.astro";
---

<BaseLayout title="Contact" sideBarActiveItemID="contact">
  <div class="mb-5">
    <div class="mb-2">
      <div class="text-3xl w-full font-bold">Contact ☎️</div>
    </div>
  </div>

  <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-10">
    <div>
      <p class="text-lg leading-relaxed text-black dark:text-white mt-1">
        Do you have something to say? I am here to help. Fill out the form, send an email, or call me.
      </p>
    </div>
    
    <div class="mt-5 flex flex-col items-center md:items-start">
      
      <div class="flex items-center justify-center md:justify-start mt-2 space-x-2 text-black-800 dark:text-white-800">
        <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
        <span>Zaragoza</span>
      </div>

      <div class="flex items-center justify-center md:justify-start mt-2 space-x-2 text-black-800 dark:text-white-800">
        <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" />
        <a href="mailto:arias.ivan@hcoco1.com">rias.ivan@hcoco1.com</a>
      </div>


      
    </div>
  </div>

  <div class="mt-10">
    <Contactform />
  </div>
</BaseLayout>