---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Projects - Web Apps</div>
  </div>

  <HorizontalCard
    title="E-commerce"
    img="https://hcoco1.blog/assets/images/flask-react-python.png"
    desc="This project is an e-commerce platform built with React for the frontend and flask for the backend."
    url="https://youtu.be/9TeuJNePlGw"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Database Tool "
    img="https://www.web-alliance.co.uk/blog/admin/blg_img/1663842396_1654089990_AdobeStock_42677898%20(1).jpeg"
    desc="Database Tool (DT) is a SQLALCHEMY/SQLITE3/CLICK command line interface (CLI) designed to manage US entities"
    url="https://youtu.be/UrotTLXdx5c"
    badge="POPULAR"
  />
    <div class="divider my-0"></div>
  <HorizontalCard
    title="Real Estate Site"
    img="https://a57.foxnews.com/static.foxbusiness.com/foxbusiness.com/content/uploads/2023/03/931/506/FLORIDA-REAL-ESTATE-HOME-SALE-GETTY.jpg?ve=1&tl=1"
    desc="Real Estate Site (RES) is a REACT/REACT-BOOTSTRAP/REACT-ROUTER app that accesses data from a web database."
    url="https://youtu.be/gTGiYxPJ-Dk"
    
  />
    <div class="divider my-0"></div>
  <HorizontalCard
    title="World Population Dashboard "
    img="https://i.ebayimg.com/images/g/RBwAAOSwsv5cg8lp/s-l1600.jpg"
    desc="World Population Dashboard is an HTML/CSS/JS app that accesses data from an API I created. You can leave messages, and they will persist."
    url="https://youtu.be/w_4ZAicscw4"
    
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Projects - Web Sites</div>
  </div>

  <HorizontalCard
    title="My Web Site (React Version)"
    img="https://images.unsplash.com/photo-1457092716468-97352752b749?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1095&q=80"
    desc="My last site looked good, but I wasn't happy with it. I wanted to build a web page using something other than pre-build templates"
    url="https://www.hcoco1.com/"
    
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="My Blog Site (Jekyll Version)"
    img="https://srinathh.github.io/assets/images/generic/jekyll-logo-dark-solid.png"
    desc="My blog site is a Jekyll static site whose purpose is to share my knowledge and experience in the software development world."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="My Web Site (oldest version)"
    img="https://tatuking.com/wp-content/uploads/2020/06/html-css3.jpg"
    desc="This website was created using plain HTML and CSS, serving as my introduction to the world of web development."
    url="https://hcoco1.github.io/Phase1_app/"
  />
    <div class="divider my-0"></div>
  <HorizontalCard
    title="My Web Site (Bootstrap version)"
    img="https://www.bootstrapdash.com/blog/wp-content/uploads/2017/08/bootstrap-4-beta-whats-new.jpg"
    desc="This website was created using a BOOTSTRAP template. I used React app to modify it with Bootstrap classNames.."
    url="https://hcoco1.github.io/hcoco1-site-bootstrap/"
  />
</BaseLayout>
