---
import Button from "../components/ui/button.astro";
---

<!-- Web3Forms: ensure allowed domains are configured in the Web3Forms dashboard -->
<form
  action="https://api.web3forms.com/submit"
  method="POST"
  id="form"
  class="needs-validation"
  novalidate
>
  <input
    type="hidden"
    name="access_key"
    value="dbef2f90-48ce-4d75-95c2-beb218063b86"
  />

  <input type="checkbox" class="hidden" name="botcheck" />

  <div class="mb-5">
    <label for="full_name" class="sr-only">Full Name</label>
    <input
      id="full_name"
      type="text"
      placeholder="Full Name"
      required
      class="form-field"
      name="name"
    />
    <div class="empty-feedback invalid-feedback form-feedback">
      Please provide your full name.
    </div>
  </div>

  <div class="mb-5">
    <label for="email_address" class="sr-only">Email Address</label>
    <input
      id="email_address"
      type="email"
      placeholder="Email Address"
      name="email"
      required
      class="form-field"
    />
    <div class="empty-feedback form-feedback">
      Please provide your email address.
    </div>
    <div class="invalid-feedback form-feedback">
      Please provide a valid email address.
    </div>
  </div>

  <div class="mb-3">
    <label for="message" class="sr-only">Your Message</label>
    <textarea
      id="message"
      name="message"
      required
      placeholder="Your Message"
      class="form-textarea"
    ></textarea>
    <div class="empty-feedback invalid-feedback form-feedback">
      Please enter your message.
    </div>
  </div>

  <Button type="submit" size="lg" block>Send Message</Button>
  <div id="result" class="mt-3 text-center font-medium"></div>
</form>

<style>
  .invalid-feedback,
  .empty-feedback {
    display: none;
  }

  .was-validated :placeholder-shown:invalid ~ .empty-feedback {
    display: block;
  }

  .was-validated :not(:placeholder-shown):invalid ~ .invalid-feedback {
    display: block;
  }

  .is-invalid,
  .was-validated :invalid,
  .was-validated :invalid:focus {
    border-color: oklch(var(--er) / 1);
  }
</style>

<script is:inline>
  const form = document.getElementById("form");
  const result = document.getElementById("result");

  form.addEventListener("submit", function (e) {
    e.preventDefault();
    form.classList.add("was-validated");
    if (!form.checkValidity()) {
      form.querySelectorAll(":invalid")[0].focus();
      return;
    }
    const formData = new FormData(form);
    const object = Object.fromEntries(formData);
    const json = JSON.stringify(object);

    result.className = "mt-3 text-center font-medium text-info";
    result.innerHTML = "Sending...";

    fetch("https://api.web3forms.com/submit", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
      body: json,
    })
      .then(async (response) => {
        let json = await response.json();
        if (response.status == 200) {
          result.className = "mt-3 text-center font-medium text-success";
          result.innerHTML = json.message;
        } else {
          console.log(response);
          result.className = "mt-3 text-center font-medium text-error";
          result.innerHTML = json.message;
        }
      })
      .catch((error) => {
        console.log(error);
        result.className = "mt-3 text-center font-medium text-error";
        result.innerHTML = "Something went wrong!";
      })
      .then(function () {
        form.reset();
        form.classList.remove("was-validated");
        setTimeout(() => {
          result.style.display = "none";
        }, 5000);
      });
  });
</script>
