---
import ThemeSwitcher from "./ThemeSwitcher.astro";
---

<div
  class="sticky top-0 z-30 flex min-h-16 w-full justify-center border-b border-base-300 bg-base-100/90 text-base-content shadow-sm backdrop-blur transition-all duration-100 lg:hidden"
>
  <div class="navbar">
    <div class="navbar-start">
      <label for="my-drawer" class="btn btn-square btn-ghost">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current"
          ><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </label>
    </div>
    <div class="navbar-center">
      <a class="btn btn-ghost text-xl normal-case" href="/">Ivan Arias</a>
    </div>
    <div class="navbar-end">
      <ThemeSwitcher compact />
    </div>
  </div>
</div>
