---
const { sideBarActiveItemID } = Astro.props;
const activeClass = "active font-bold";
---

<ul class="menu menu-md grow shrink overflow-y-auto rounded-box">
  <li><a class="py-3 text-base" id="home" href="/">Home</a></li>
  <!-- <li><a class="py-3 text-base" id="projects" href="/projects">Projects</a></li> -->
  <li><a class="py-3 text-base" id="cv" href="/cv">CV</a></li>
  <li><a class="py-3 text-base" id="blog" href="/blog/">Blog</a></li>
  <!-- <li><a class="py-3 text-base" id="services" href="/services">Services</a></li> -->
  <li><a class="py-3 text-base" id="portfolio" href="/portfolio">Projects</a></li>
  <li><a class="py-3 text-base" id="contact" href="/contact">Contact</a></li>
</ul>

<script
  define:vars={{
    sideBarActiveItemID: sideBarActiveItemID,
    activeClass: activeClass,
  }}
>
  const activeItemElem = document.getElementById(sideBarActiveItemID);
  activeItemElem && activeItemElem.classList.add(...activeClass.split(" "));
</script>
