---
interface Props {
  size?: "md" | "lg";
  block?: boolean;
  style?: "outline" | "primary" | "inverted";
  class?: string;
  [x: string]: any;
}

const {
  size = "md",
  style = "primary",
  block,
  class: className,
  ...rest
} = Astro.props;

const sizes = {
  md: "btn-md",
  lg: "btn-lg",
};

const styles = {
  outline: "btn-outline",
  primary: "btn-primary",
  inverted: "btn-neutral",
};
---

<button
  {...rest}
  class:list={[
    "btn text-center",
    block && "w-full",
    sizes[size],
    styles[style],
    className,
  ]}
  ><slot />
</button>
